mixin image(value = {})
	- let _class = value.class;
	- let src = value.src || "/assets/city";
	- let alt = value.alt || "Alternate text";

	.layer-image(class=_class)
		.layer-image-preview-img-card
		figure.load-img(itemprop="image" itemscope itemtype="https://schema.org/ImageObject")
			.img-contain
				picture
					each n in [3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
						- let val = n > 5 && n <= 8 ? 70 : 100;
						source(media=`(max-width: ${n}00px)` srcset!=`${src}.webp?w=${n}00&quality=${val}` sizes=`(max-width: ${n}00px) ${n}00px` width=`${n}00px` type='image/webp')
						source(media=`(max-width: ${n}00px)` srcset!=`${src}.jpg?w=${n}00&quality=${val}` sizes=`(max-width: ${n}00px) ${n}00px` width=`${n}00px` type='image/jpeg')

					source(media='(max-width: 1200px)' srcset!=`${src}.webp` sizes="90vw" width="90vw" type='image/webp')
					source(media='(max-width: 1200px)' srcset!=`${src}.jpg` sizes="90vw" width="90vw" type='image/jpeg')

					source(media='(min-width: 1200px)' srcset!=`${src}.webp` sizes="100vw" width="100vw" type='image/webp')
					source(media='(min-width: 1200px)' srcset!=`${src}.jpg` sizes="100vw" width="100vw" type='image/jpeg')
					img.core-img(src!=`${src}.jpg` sizes="(max-width: 500px) 500px,(max-width: 700px) 700px,(max-width: 900px) 900px, 100vw" alt=alt loading="lazy" width="100vw" itemprop="url")
				picture
					img.placeholder-img(src!=`${src}.jpg?w=60&quality=70&effect=blur:120` sizes="100vw" width="100vw" alt=alt loading="lazy" itemprop="url" inline)
				noscript Javascript is necesscary for this sites awesome experience.
					picture
						source(srcset!=`${src}.webp` sizes="100vw" width="100vw" type='image/webp')
						source(srcset!=`${src}.jpg` sizes="100vw" width="100vw" type='image/jpeg')
						img.no-script-img(src!=`${src}.jpg` alt=alt loading="lazy" sizes="(max-width: 500px) 500px,(max-width: 700px) 700px,(max-width: 900px) 900px, 100vw" width="100vw" itemprop="url")
		.layer-image-overlay
