mixin seo(value = {})
  - let { title, url, description, websiteURL, netlifyURL } = value;
  meta(property="og:type" content="website")

  title= title
  meta(name='title' content=title)
  meta(itemprop='name' content=title)
  meta(property='og:title' content=title)
  meta(name='twitter:title' content=title)
  meta(name="apple-mobile-web-app-title", content=title)

  link(rel="canonical" href=`${websiteURL}${url}`)
  link(rel="canonical" href=`${netlifyURL}${url}`)
  meta(itemprop='url' content=`${websiteURL}${url}`)
  meta(name="shortlink" content=`${websiteURL}${url}`)
  meta(property='og:url' content=`${websiteURL}${url}`)
  meta(name='twitter:url' content=`${websiteURL}${url}`)

  meta(name='description' itemprop='description' content=description)
  meta(property='og:description' content=description)
  meta(property='twitter:description' content=description)