mixin image(source = "cloudinary/city", alt = "Alternate text")
  -
    let external = /\/fetch\//.test(source);
    let src = source.replace("fetch/", "");

    let cloudinaryTest = /^cloudinary\//.test(src);
    let origin = `https://res.cloudinary.com/okikio-assets/image/${external ? "fetch" : "upload"}/`;
    let urlParse = (filters = "w_auto") => cloudinaryTest ? `${origin + "f_auto,q_auto/c_fit," + filters},dpr_auto/${src.replace(/^cloudinary\//, "")}` : src;
    
  figure.img&attributes(attributes)
    img.img-core(data-src!=`${urlParse()}.jpg` alt=alt loading="lazy" itemprop="url")
    noscript
      - var n = 4;
      - let srcset = `${urlParse(`w_auto`)}.webp 300w`;

      while n <= 16
        - srcset += `, ${urlParse(`w_${n * 100}`)}.webp ${n * 100}w`;
        - n += 3;

      img.no-script-img(src!=`${urlParse()}.jpg` aria-hidden="true" alt=alt loading="lazy")