---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import MethodBlock from "../components/MethodBlock.astro";
import Card from "../components/Card.astro";
import Anchor from "../components/Anchor.astro";
import Icon from "astro-icon";

import scriptURL from "../scripts/index.ts?url";

// Data Fetching: List all Markdown posts in the repo.
// const projects = Astro.fetchContent("./project/**/*.md");
// const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <HeroBanner slot="hero" />

  <section nav-section>
    <div class="content">
      <h2 id="about">About.</h2>
      <p>
        Hey, I am Okiki Ojo (pronounced O-key-key O-jo), I’m a student currently
        studying Software Engineering at <Anchor href="https://ontariotechu.ca/"
          >Ontario Tech University</Anchor
        > (formerly University of Ontario Institute of Technology, UOIT). From a
        very young age, I've always been interested in tech, and science. Initially,
        I started web development out of curiosity, eventually it became a hobby,
        and after many hobby projects (e.g. Open Source projects; read more in <Anchor
          href="#projects">featured projects</Anchor
        >), I thought it would be cool to offer my skills to clients who want
        awesome web experiences, thus here we are.

        <br />
        <br />

        I have a passion for design and development, I like to create things
        that don’t just look good, but that also function on multiple levels. I
        am always eager to take on a challenge, and aim to exceed in all tasks I
        take on. I develop websites that are functional, efficient and that act
        as an excellent representation of a person or business on the digital
        landscape. I have 5+ years of experience designing sites, I would love
        to bring your digital vision to reality.
      </p>
    </div>

    <div class="content">
      <h3 class="nav-item" id="experience">Experience</h3>
      <p>
        While working on my hobby projects, I tried my hands at Open Source
        development. Open source development (<span
          class="fine:underline fine:decoration-dotted"
          title="Technically OSS should be OSSD as in Open Source Software Development, but tomato, tomahato (intentional)"
          >OSS</span
        >), taught me quite a lot, for one it made me truly appreciate good
        governance, and even better coding/documentation practices. During my
        adventures in OSS, I worked on many projects, ranging from <Anchor
          href="https://native.okikio.dev/animate">@okikio/animate</Anchor
        > to <Anchor href="https://bundlejs.com">bundlejs.com</Anchor> (learn more
        at <Anchor href="#projects">featured projects</Anchor>), wrote multiple <Anchor
          href="https://blog.okikio.dev/">blog posts</Anchor
        > and <Anchor
          href="https://css-tricks.com/how-i-used-the-waapi-to-build-an-animation-library/"
          >articles</Anchor
        >, I even earned a position as a <Anchor
          href="https://twitter.com/astrodotbuild/status/1486195466085695488?s=20&t=P7aMtK25Hg0DlWpIF3PC7w"
          >maintainer</Anchor
        > on the <Anchor href="https://astro.build">astro.build</Anchor> project.
        All the experience gained from OSS is a great asset to me, and I am very
        grateful for it, I aim to use this experience to build better web experiences,
        better UI/UX, and to find new creative ways to craft online experiences for
        my clients.
      </p>
    </div>

    <div class="content">
      <h3 class="nav-item" id="skills">Skills</h3>
      <p>
        I have experience in Astro, Javascript, Typescript, CSS/SASS, HTML, Pug,
        Node.js, Fastify, Pjax, Solid.js, Svelte, C#, C++, and more… I prefer to
        learn skills as I need them, so I can focus on finding solutions to
        problems instead of trying to implement new technologies for the sake of
        implementing them.
      </p>
    </div>

    <div class="content">
      <h3 id="method">Method</h3>
      <p>
        When developing sites I first aim to understand the needs and goals of
        the project, I then determine the best approach to build a site. There
        are four parts to my method, speed, efficiency, ease-of-use, and impact.
      </p>
    </div>

    <div class="py-6">
      <MethodBlock />
    </div>
  </section>

  <section nav-section>
    <div class="content">
      <h2 id="projects">Featured Projects.</h2>
    </div>
    <div class="container px-5 max-w-[105ch]">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 ">
        {() => {
          let externalIcon = `<svg viewBox="0 0 24 24" class="astro-6H36LA55 inline-block w-[1em] h-[1em]" astro-icon="fluent:arrow-up-right-24-filled"><path fill="yellow" d="M11 3a1 1 0 1 0 0 2h6.586L3.293 19.293a1 1 0 1 0 1.414 1.414L19 6.414V13a1 1 0 1 0 2 0V4a1 1 0 0 0-1-1h-9z"></path></svg>`;
          let projects = {
            bundle: {
              image: {
                src: "cloudinary/okikio/bundle",
                alt: "The banner image for 'bundlejs.com'. It has a blue box with the letter 'b' inside it, the blue box is the logo, offset by a bit, with the text 'bundle' in the center.",
                width: "450",
                height: "350",
              },
              description:
                "An online tool to quickly bundle & minify your projects, while viewing the gzipped bundle size, all running locally on your browser.",
              link: "https://bundlejs.com",
            },

            joesphojo: {
              image: {
                src: "cloudinary/okikio/josephojo",
                alt: "The banner image for 'josephojo.org'. It has an image of Joseph Ojo, smiling staring straight forward. He is wearing a dark gray suit with glasses.",
                width: "450",
                height: "350",
              },
              description: "An engineering portfolio site for a Joseph Ojo.",
              link: "https://josephojo.com/",
            },

            jabodent: {
              image: {
                src: "cloudinary/okikio/Jabodent",
                alt: "The banner image for 'jabodent.com'. It has the Jabodent logo offset left by a small amount, with the text 'Jabodent' in the center.",
                width: "450",
                height: "350",
              },
              description: "The website of Jabodent Offshore Consultants.",
              link: "https://jabodent.com",
            },

            reindeere: {
              image: {
                src: "cloudinary/okikio/reindeere",
                alt: "The banner image for 'reindeere.ca'. It has a cartoonified image of a reindeer offset left by a small amount, with the text 'Reindeere' in the center (note, in the banner image reindeere has an extra 'e' on the end).",
                width: "450",
                height: "350",
              },
              description:
                "The website for a startup focused on local delivery using robots.",
              link: "https://reindeere.ca",
            },

            "@okikio/animate": {
              image: {
                src: "cloudinary/okikio/animate",
                alt: "The banner image for '@okikio/animate'. It just has the text '@okikio/animate' in the center, with '@' being blue, the rest of the text being white and the background being black.",
                width: "450",
                height: "350",
              },
              description:
                "An animation library that utilizes the Web Animation API (WAAPI) to deliver fluid animations at a semi-small size.",
              link: "https://native.okikio.dev/animate",
            },

            "@okikio/native": {
              image: {
                src: "cloudinary/okikio/native",
                alt: "The banner image for '@okikio/native'. It just has the text '@okikio/native' in the center, with '@' being blue, the rest of the text being white and the background being black.",
                width: "450",
                height: "350",
              },
              description:
                "A js framework for creating coordinated web experience through composable services.",
              link: "https://native.okikio.dev/native",
            },

            "spring-easing": {
              image: {
                src: "cloudinary/okikio/spring-easing",
                alt: "The banner image for 'spring-easing'. It just has the text 'spring-easing' in the center, with a blue dash separating the words 'spring' and 'easing', the rest of the text being white and the background being black.",
                width: "450",
                height: "350",
              },
              description:
                "Quick and easy spring animation. Works with other animation libraries (gsap, animejs, framer motion, motion one, @okikio/animate, etc...) or the Web Animation API (WAAPI).",
              link: "https://spring-easing.okikio.dev",
            },

            "@okikio/sharedworker": {
              image: {
                src: "cloudinary/okikio/sharedworker",
                alt: "The banner image for '@okikio/sharedworker'. It just has the text '@okikio/sharedworker' in the center, with '@' being blue, the rest of the text being white and the background being black.",
                width: "450",
                height: "350",
              },
              description:
                "A small mostly spec. compliant polyfill/ponyfill for SharedWorkers, it acts as a drop in replacement for normal Workers.",
              link: "https://sharedworker.okikio.dev",
            },

            "Codepen Projects": {
              image: {
                src: "cloudinary/okikio/Codepen",
                alt: "A banner image for 'Codepen'. It has the Codepen logo offset left by a small amount, with the text 'Codepen' in the center. The text is white and the background is black.",
                width: "450",
                height: "350",
              },
              description:
                "A set of small snippets, mini-projects and experiments, that I created on Codepen.",
              link: "https://codepen.com/okikio",
            },

            "Legacy Projects": {
              image: {
                src: "cloudinary/okikio/Khanacademy",
                alt: "A banner image for 'Khan Academy'. It has the Khan Academy logo offset left by a small amount, with the text 'Khan Academy' in the center. The text is white and the background is black. The logo is a green hexagon with a black cartoonified leaf.",
                width: "450",
                height: "350",
              },
              description:
                "When I first started out programming these are the projects I worked on before I got OSS work. Back then I used to use 'whitelight' as my username, 🤣.",
              link: "https://www.khanacademy.org/profile/liteo/projects",
            },

            ["More... " + externalIcon]: {
              showTitle: true,
              image: {
                width: "450",
                height: "350",
                blank: true,
              },
              description: "Check out more Projects on Github.",
              link: "https://github.com/okikio",
            },
          };

          return Object.keys(projects).map((name) => {
            let { description, link, image, showTitle } = projects[name];
            return (
              <Card img={image} href={link} {showTitle} external={false}>
                <h3 class="card-title" set:html={name} />
                <p class="card-description">{description}</p>
              </Card>
            );
          });
        }}
      </div>
    </div>
  </section>

  <section nav-section class="py-12">
    <div class="content text-center">
      <h2 id="contact">Contact.</h2>
    </div>
    <div class="container px-5 max-w-[85ch]">
      <div
        class="flex flex-col gap-2 xsm:grid lt-sm:grid-cols-2 sm:grid-cols-4 sm:gap-6 justify-center overflow-x-auto"
      >
        {() => {
          let links = {
            LinkedIn: "https://www.linkedin.com/in/okikio",
            Twitter: "https://twitter.com/okikio_dev",
            Reddit: "https://www.reddit.com/user/okikio_dev",
            Github: "https://github.com/okikio",
            Blog: "https://blog.okikio.dev",
            "Dev.to": "https://dev.to/okikio",
            Hackernoon: "https://hackernoon.com/u/okikio",
            "CSS-Tricks": "https://css-tricks.com/author/okikiojo/",
            Codepen: "https://codepen.io/okikio",
            "Daily.dev": "https://app.daily.dev/okikio",
            "Product Hunt": "https://www.producthunt.com/@okiki_ojo",
            Stackoverflow:
              "https://stackoverflow.com/users/12140185/okikio?tab=profile",
            "Buy me a coffee": "https://www.buymeacoffee.com/okikio",
            Email: "mailto:hey@okikio.dev",
          };

          return Object.keys(links).map((name) => {
            let href = links[name];
            return (
              <Anchor
                class="px-4 py-2 hover:text-primary hover:bg-primary/30 focus:bg-primary/20"
                href={href}
              >
                {name}
              </Anchor>
            );
          });
        }}
      </div>
    </div>
  </section>

  <footer
    slot="footer"
    class="flex flex-col items-center gap-4 py-5 text-center"
  >
    <span
      class="underline underline-offset-4 max-w-[50ch] mb-10"
      title="This site uses Google Analytics (which adds cookies) to measure the number of users and the countries they are from. I don’t store any of your private identifiable information."
      >This site uses Google Analytics (which adds cookies) to measure the
      number of unique visitors.</span
    >
    <Anchor href="#" id="back-to-top">
      <div class="flex items-center gap-2">
        <Icon name="fluent:arrow-up-24-filled" />
        Back To Top
      </div>
    </Anchor>
    <span>© 2022 Okiki Ojo. All rights reserved.</span>
  </footer>
</BaseLayout>

<!-- <script src={Astro.resolve("../scripts/index.ts")} type="module" async></script> -->
<!-- <script type="module" src={scriptURL} /> -->

<script>import * as Index from "../scripts/index.ts"; </script> 
<script src="https://www.googletagmanager.com/gtag/js?id=G-X6V7MJKKD7" async></script>
<script src="/scripts/analytics.js" async></script>

<style lang="scss">
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-0;
  }

  h1,
  h2 {
    @apply text-primary font-lexend font-700;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-manrope font-400;
  }

  p {
    @apply lt-xsm:text-base lt-xsm:leading-relaxed;
  }

  #back-to-top {
    @apply inline-block;
    @apply hover:ring-2 ring-primary ring-offset-2 ring-offset-black;
    @apply bg-primary rounded-full pl-5 pr-6 py-2;
    @apply text-black text-base font-bold hover:text-black;

    [astro-icon] {
      @apply w-5 h-5;
    }
  }
</style>
